{% block content %}
{% load static %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
          <a class="navbar-brand" href="">
            WPBFL
        </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                  <li class="nav-item active">
                      <a class="nav-link" href="{% url 'home' %}">Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'index' %}">DSA</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'SADindex' %}">SAD</a>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Create New Account
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="{% url 'new' %}">DSA A/C</a>
                          <a class="dropdown-item" href="{% url 'saving' %}">SAD A/C</a>
                          <!-- <a class="dropdown-item" href="#">Service 3</a> -->
                      </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin1' %}">Admin Panel</a>
                </li>
              </ul>
          </div>
      </div>
  </nav>
    
    {% endblock content %}